{% extends "base.html" %}
{% load static %}

{% block extra_title %}Sushi Go | Edit Review{% endblock %}

{% block page_header %}
<!-- BLOCK PAGE HEADER -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<!-- END OF BLOCK PAGE HEADER -->
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<!-- EDIT REVIEW FORM -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr>
            <h1 class="text-center pt-4">Edit Review</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        {% if user.is_authenticated and testimonial.name == user or user.is_superuser  %}
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <form method="post" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark border-gold rounded-0">Edit Review</button>
                <a class="btn btn btn-outline-dark border-gold rounded-0 m-2"
                    href="{%  url 'testimonials' %}">Cancel</a>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}