/* Order History Section */

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* Wish List Page */

.food-img-container {
    min-height: 23rem;
    padding: 0rem 0.125rem;
}

.card-img-top {
    width: auto;
}

.view-details-btn {
    width: inherit;
    border-radius: 33px;
    text-align: center;
    background-color: rgba(100, 105, 109, 0.19);
    color: #383838;
}

.view-details-btn:hover {
    background-color: #FFA92C;
    color: #fff;
}


.wish-list-btn-div {
    margin-top: 0.45rem;
}

.wish-list-btn {
    width: inherit;
    border-radius: 33px;
    text-align: center;
    background-color: #FFA92C;
    color: #fff;
}

.wish-list-btn:hover {
    background-color:rgba(100, 105, 109, 0.19);
    color: #383838;

}