{% extends 'base.html' %} 
{% load static %} 
{% block title %} <title>Wishlist</title> {% endblock %} 
{% block stylesheets %} 
    <link rel="stylesheet" href="{% static 'order/css/checkout.css' %}">
{% endblock %} 

{% block bread-page %}
<p class="bread-page heading-2-white">Wishlist</p>
{% endblock %} 

{% block bread-head %}
<p class="bread-head heading-2-white">#Wishlist</p>
{% endblock %} 

{% block content %}
    <div class="container">
        <section class="wishlist content-box p-3">
            <div class="wishlist-card-section">
                { % for item in wish_items % }
            <div class="wishlist-card col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-2 wish-img-sec">
                        <img class="wishlist-img" src="{% food.image.url %}" alt="Wished food">
                    </div>
                    <div class="col-md-10 wish-pro-sec">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="heading-3-black">{{item.food.food.name}}</p>
                                <p class="heading-3-black wish price">${{item.get_item_price}}</p>
                            </div>
                            <div class="col-md-4 pt-2">
                                <div class="row wish-select-row">
                                    <p class="wish-sel-text">Quantity</p>
                                    <p>{{item.quantity}}</p>
                                </div>

                            </div>
                            <div class="col-md-4 pt-2 wish-card-btn">
                                <form action="">
                                    <input type="submit" value="Add to basket" class="simple-btn body-white">
                                </form>
                                <form class="mt-3" action="{% url 'order:delete-from-wishlist' %}" method="POST">
                                    {% csrf_token %} 
                                    <input type="hidden" name="item-id" value="{{item.id}}">
                                    <input type="submit" value="Delete" class="simple-btn body-white">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            
            


Continue Shopping Go To Cart
{% else %}
No items in wishlist, add one from category page

{% endif %}
{% endblock %}