{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Sushi Go | Markets{% endblock %}

{% block page_header %}
    <!-- BLOCK PAGE HEADER -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <!-- END OF BLOCK PAGE HEADER -->
{% endblock %}

{% block content %}
<!-- MARKETS SECTION -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr>
            <h1 class="text-center pt-4">Markets</h1>
            <hr class="w-50 mb-1">
            <br>
            <p >You can find us in Cork City also at these markets. 
            </p>
        </div>
    </div>


    <div class="row">
        <div class="food-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for market in markets %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            <a href="{{ market.link }}" target="_blank" rel="noopener"
                                aria-label="Visit {{ market.name }}'s page (opens in a new tab)">
                                <img class="card-img-top img-fluid" src="{{ market.image.url }}" alt="{{ market.name }}">
                            </a>
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ market.name }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
 